*{
	margin: 0px;
	padding: 0px;
}
h2{
	font-size: 0.45rem;
	margin-left: 0.1rem;
	margin-top: 0.1rem;
}
.date{
	font-size: 0.2rem;
	color: #ccc;
	margin-left: 0.1rem;
}
.author{
	font-size: 0.3rem;
	margin-left: 0.1rem;
}